<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- shiro过滤器 -->
  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager"/>
    <property name="loginUrl" value="/login"/>
    <!--<property name="successUrl" value="/index"/>-->
    <property name="unauthorizedUrl" value="/unauthrized"/>
    <property name="filterChainDefinitions">
      <value>
        /login = anon
        /user = anon
        /loginSubmit = anon
        /unauthrized = anon
        /static/* = anon
        /* = authc
      </value>
    </property>
  </bean>

  <!-- shiro安全管理器 -->
  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <property name="realm" ref="customRealm"/>
    <property name="sessionManager" ref="sessionManager"/>
  </bean>

  <!-- 自定义realm -->
  <bean id="customRealm" class="com.nexwise.entity.realm.CustomRealm"/>

  <!-- shiro会话管理器 -->
  <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    <property name="sessionIdUrlRewritingEnabled" value="false" />
    <!--&lt;!&ndash; session过期时间（10分钟） &ndash;&gt;-->
    <property name="globalSessionTimeout" value="600000"/>
    <!--&lt;!&ndash; 清除无效session &ndash;&gt;-->
    <property name="deleteInvalidSessions" value="true"/>
    <property name="sessionDAO" ref="redisSessionDAO"/>
    <property name="cacheManager" ref="redisCacheManager"/>
    <property name="sessionIdCookie" ref="simpleCookie"/>
  </bean>

  <!-- =====以下配置采用shiro-redis开源插件===== -->
  <!-- redis管理session -->
  <bean id="redisSessionDAO" class="org.crazycake.shiro.RedisSessionDAO">
    <property name="redisManager" ref="redisManager"/>
  </bean>

  <!-- redis管理器 -->
  <bean id="redisManager" class="org.crazycake.shiro.RedisManager">
    <property name="host" value="${redis.host}"/>
    <property name="jedisPoolConfig" ref="jedisPoolConfig"/>
  </bean>

  <!-- jedis连接池配置 -->
  <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
    <property name="maxIdle" value="${redis.maxIdle}"/>
    <property name="minIdle" value="${redis.minIdle}"/>
    <property name="maxTotal" value="${redis.maxTotal}"/>
  </bean>

  <!-- redis缓存管理器 -->
  <bean id="redisCacheManager" class="org.crazycake.shiro.RedisCacheManager">
    <property name="redisManager" ref="redisManager"/>
    <property name="principalIdFieldName" value="id"/>
  </bean>
  <!-- =====结束====== -->

  <!-- 自定义cookie配置 -->
  <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
    <constructor-arg value="mldn-session-id"/>
    <property name="httpOnly" value="true"/>
    <!-- cookie过期时间，-1表示关闭浏览器cookie失效 -->
    <property name="maxAge" value="-1"/>
  </bean>

</beans>